.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.header-logo {
  margin-right: 93px;
}

.accent {
  color: var(--accent-color);
}

.link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration-line: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.nav-link {
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.nav-auth-link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.nav-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts-mail {
  margin-right: 50px;
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -32px;
  display: block;

  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
